body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #b0e5fd;
    color: rgb(48, 111, 148);
  }

ul#example {
    list-style: none;
    margin: 50px 0;
    padding: 0;
    display: block;
    text-align: center;
  }
  
  ul#example li { display: inline-block; }
  
  ul#example li span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
    color: rgb(29, 71, 95);
  }
  
  ul#example li.seperator {
    font-size: 80px;
    line-height: 70px;
    vertical-align: top;
  }
  
  ul#example li p {
    
    font-size: 25px;
  }

  h2, h3 {
    color: rgb(29, 71, 95);
  }
